<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-RPYBK9NS3S"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-RPYBK9NS3S');
	</script>
	<title>
		Registro de Contactos
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Propiedades de Open Graph Protocol -->
	<meta property="og:title" content='Registro de contactos'>
	<meta property="og:type" content='Contactos'>
	<meta property="og:url" content='https://programacion-ii-evaluacion-4.onrender.com/contactos'>
	<meta property="og:site_name" content='irrelevante'>
	<meta property="og:description" content='Aqui se encuentran los contactos del sitio.'>

	<link rel="stylesheet" type="text/css" href="/stylesheets/login style.css">

	<!-- Google reCAPTCHA lado del cliente -->
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
	<p>comment here</p>
	<h1>Historial de contactos desde el formulario</h1>
	<% if (rows.length > 0) { %>
	<ul>
	    <% rows.forEach(row => { %>
	    <li class="caja">
	        <ul>
	            <li><b>Id:</b> <%= row.id %></li>
	            <li><b>Nombre:</b> <%= row.name %></li>
	            <li><b>Email:</b> <%= row.email %></li>
	            <li><b>Comentario:</b> <%= row.comment %></li>
	            <li><b>Fecha:</b> <%= row.date %></li>
	            <li><b>IP:</b> <%= row.myIP %></li>
	            <li><b>Pais:</b> <%= row.pais %></li>
	        </ul>
	    </li>
	    <% }) %>
	</ul>
	<% } else { %>
	<p>No se han ingresado datos</p>
	<% } %>
</body>
</html>