<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
	<h1> Hola Mundo </h1>
	<hr>

	<p>Mi nombre es <%= nombre %> <%= apellido %></p>
	<p> Mi cédula es <%= cedula %></p>
	<p> Estoy en la sección <%= seccion %></p>
</body>

</html>